<!doctype html>
<title>Hello from our API</title>
  <h1>The goal is to show what returns api we used for our advanced software project</h1>
  <h2> Movie review </h2>
  <p> Basically we wanted to scrapp tweets with the Twitter API. Since the arrival of the new Boss, it has not been possible to do it.
    Then we used an API that generate product review to replace tweets. If you want a generated review of the barbie movie, write https://advanced.herokuapp.com/review.barbie in your browser. You will see it is a total nonsense ...
  </p>
